*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #CDA08F;
    text-align: center;
}
.container{
    height: 80vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 3rem #6f1d1b;
    font-size:8vmin;
    color: #6f1d1b;
    background-color: #003049;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #4a4e69;
    color: #eae2b7;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #4a4e69;
    color: #eae2b7;
}
#msg{
    color: #e5e5e5;
    font-size: 8vmin;
}
.msg-container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}